@font-face {
  font-display: swap;
  font-family: \#9Slide04SFUFenice;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/9Slide04SFUFenice-Bold.eot);
  src: url(../fonts/9Slide04SFUFenice-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/9Slide04SFUFenice-Bold.woff2) format("woff2"),
    url(../fonts/9Slide04SFUFenice-Bold.woff) format("woff"),
    url(../fonts/9Slide04SFUFenice-Bold.ttf) format("truetype"),
    url(../fonts/9Slide04SFUFenice-Bold.svg##9Slide04SFUFenice-Bold)
      format("svg");
}
@font-face {
  font-display: swap;
  font-family: UTM Gradoo;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/UTMGradoo.eot);
  src: url(../fonts/UTMGradoo.eot?#iefix) format("embedded-opentype"),
    url(../fonts/UTMGradoo.woff2) format("woff2"),
    url(../fonts/UTMGradoo.woff) format("woff"),
    url(../fonts/UTMGradoo.ttf) format("truetype"),
    url(../fonts/UTMGradoo.svg#UTMGradoo) format("svg");
}
@font-face {
  font-display: swap;
  font-family: SVN-Digitalis;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SVN-Digitalis.eot);
  src: url(../fonts/SVN-Digitalis.eot?#iefix) format("embedded-opentype"),
    url(../fonts/SVN-Digitalis.woff2) format("woff2"),
    url(../fonts/SVN-Digitalis.woff) format("woff"),
    url(../fonts/SVN-Digitalis.ttf) format("truetype"),
    url(../fonts/SVN-Digitalis.svg#SVN-Digitalis) format("svg");
}
html {
  font-size: 14px;
}
body {
  background: #eee;
  line-height: 1.44;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SVN-Digitalis, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeSpeed;
  color: #555;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 0;
  width: 100%;
}
.h1,
h1 {
  font-size: 1.7em;
}
.h1,
.h2,
h1,
h2 {
  line-height: 1.3;
}
.h2,
h2 {
  font-size: 1.6em;
}
.h3,
h3 {
  font-size: 1.25em;
}
.h4,
h4 {
  font-size: 1.125em;
}
.h5,
h5 {
  font-size: 1em;
}
.h6,
h6 {
  font-size: 0.85em;
  opacity: 0.8;
}
.heading-font,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #054219;
}
@media (max-width: 549px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
}
.site-footer a,
.site-header a {
  color: var(--primary-color);
}
.site-footer a:hover,
.site-header a:hover {
  color: var(--secondary-color);
}
.follow-icons {
  display: flex;
}
.follow-icons .icon {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  color: #396eb0;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.follow-icons .icon:first-of-type {
  margin-left: 0;
}
.follow-icons .icon i {
  color: #396eb0;
  min-width: auto;
}
.site-header .button.register {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
  min-height: 30px !important;
  min-width: 144px !important;
  padding: 2px 20px !important;
}
@media screen and (min-width: 1024px) {
  .site-header .nav {
    display: flex;
    justify-content: space-between;
  }
}
.site-header .nav:not(.site-header-cart) > li {
  margin: 0 10px;
  position: relative;
}
.site-header .nav:not(.site-header-cart) > li:last-of-type {
  margin-right: 0;
}
.site-header .nav:not(.site-header-cart) > li > a {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.site-header .nav:not(.site-header-cart) > li.active > a,
.site-header .nav:not(.site-header-cart) > li:hover > a {
  color: #005911;
}
.site-header .nav:not(.site-header-cart) > li.active > a {
  font-weight: 700;
}
.site-header .nav.site-header-cart > li {
  margin-left: 20px;
}
.site-header .nav.site-header-cart > li:first-of-type {
  margin-left: 0;
}
.site-header .nav.site-header-cart .label-count {
  display: none;
  right: -5px;
}
#main-menu-popup .nav > li.menu-item-has-children {
  display: flex;
  justify-content: space-between;
}
#main-menu-popup .nav > li.menu-item-has-children button {
  order: 2;
}
#main-menu-popup .nav > li.menu-item-has-children a {
  order: 1;
}
#main-menu-popup .nav > li.menu-item-has-children > ul {
  order: 3;
}
.pisee-breadcrumb {
  padding: 5px 0;
}
.header-top .col-flex {
  padding-bottom: 0;
  padding-top: 0;
}
.header-top .col-flex.header-hotline {
  align-items: center;
  display: flex;
  font-size: 14px;
}
.header-mid .col-menu {
  padding: 0;
}
.header-mid.myfixed {
  background: #054219 !important;
}
.header-mid .logo a {
  color: #fff;
}
.header-mid .pisee-search-box .search-field {
  background: #fff;
  color: #333;
}
.header-mid .pisee-search-box .submit-button i {
  color: #fff;
}
.header-mid .header-acc .site-header-cart .widget_shopping_cart_content,
.header-mid
  .header-acc
  .site-header-cart
  .widget_shopping_cart_content
  .woocommerce-Price-amount,
.header-mid .header-acc .site-header-cart .widget_shopping_cart_content a,
.header-mid .header-acc .site-header-cart .widget_shopping_cart_content p {
  color: #333;
}
body {
  max-width: 1170px;
}
